<header class="header py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="{{ url_for('documents.dashboard') }}" class="text-decoration-none">
            <img src="{{ url_for('static', filename='img/signer.png') }}" alt="Signer Logo" class="brand-logo">
        </a>

        <div class="d-flex align-items-center">

            {% if g.user and g.user.is_admin %}
            <a href="{{ url_for('users.list_users') }}" class="btn btn-sm btn-outline-light me-3"> <i class="fas fa-users-cog me-2"></i>Gerenciar Usuários
            </a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-outline-light">
                <i class="fas fa-sign-out-alt me-1"></i>Sair
            </a>
        </div>
    </div>
</header>